body h2{
    font-size: 36px;
    margin-left: 300px;
    margin-top: 2%;
    color: aliceblue;
}

body h3{
    font-size: 22px;
    margin-left: 300px;
    margin-top: 2%;
    color: aliceblue;
}

.seperator{
    margin: auto;
    border: none;
    background: linear-gradient(to right, 
    transparent 0%, /*start the line being transparent */
    rgba(255, 255, 255, 0.5) 5%, /*white comes in at 5% of the line*/
    rgba(255, 255, 255, 0.5) 95%, /*white ends at 95% of the line*/
    transparent 100%); /*line goes transparent for final 5%*/
    height: 1px;
    width: 50vw;
    border-radius: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-left: 250px;
    width: 90%;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    width: fit-content;
}

.box{
    position: relative;
    background-color: #423956;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 5px #262034, 0 2px 2px 2px #251f33;
    font-size: 30px;
    color: aliceblue;
    width: 300px;
    height: 100px;
    border: 1px solid #262034;
    border-radius: 20px;
    transition: 500ms;
}

.box:hover{
    transform: scale(1.1);
}

.box-title{
    position: absolute;
    font-size: 24px;
    top: 20px;
    left: 10px;
    
    border-bottom: 3px solid rgba(255,225,255,0.2);
}

.editGroup{
    position: absolute;
    top: 20px;
    right: 20px;
}

.editGroup a{
    text-decoration: none;
    color: aliceblue;
}

.box-title a{
    text-decoration: none;
    color: aliceblue;
}

.trash{
    position: absolute;
    bottom: 5px;
    right: 20px;
    width: 50px
}

.trash a{
    display: inline-block;
    text-align: center;
    line-height: 20px;
    width: 70px;
    height: 22px;
    font-size: 27px; 
    color: white;
}

.trash a:hover{
    transition: 300ms;
    color: rgb(240, 55, 55);
}


.addForm{
    margin-top: 5%;
    margin-left: 20%;
    color: aliceblue;
}

.addForm input{
    margin-top: 10px;
    box-shadow: 0px 2px 10px 5px #262034, 0 2px 2px 2px #251f33;
    border-color: #514869;
    height: 30px;
    width: 200px;
    background: #514869;
    margin-left: 10vh;
    border-radius: 10px;
    padding: 0px 4px 2px 5px;
    border: none;
    color: aliceblue;
}

.addForm label{
    font-size: 22px;
}
