.title h1{
    font-size: 36px;
    color: aliceblue;
    margin: 50px 0px 0px 300px;
}

.group a{
    position: absolute;
    text-align: center;
    line-height: 36px;
    top: 16%;
    right: 15%;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    background-color: #423956;
    font-size:14px; 
    color: white;  
    border: 2px solid #201b2c;
}

.group a:hover{
    border: 2px solid aliceblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-left: 250px;
    
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    width: fit-content;
}

.box{
    position: relative;
    background-color: #423956;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 5px #262034, 0 2px 2px 2px #251f33;
    font-size: 30px;
    color: aliceblue;
    width: 300px;
    height: 350px;
    border: 1px solid #262034;
    border-radius: 20px;
    transition: 500ms;
}

.box:hover{
    transform: scale(1.1);
}

.box-title{
    position: absolute;
    font-size: 24px;
    top: 20px;
    left: 10px;
    
    border-bottom: 3px solid rgba(255,225,255,0.2);
}

.editTask{
    position: absolute;
    top: 20px;
    right: 20px;
}

.editTask a{
    color: aliceblue;
}


.content{
    margin-top: 10px;
    position: absolute;
    top: 80px;
    left: 10px;
    font-size: 20px;
}

.dnt{
    position: absolute;
    font-size: 18px;
    bottom: 20px;
    left: 10px;
}

.trash{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    
}

.trash a{
    display: inline-block;
    text-align: center;
    line-height: 20px;
    width: 70px;
    height: 22px;
    font-size: 27px; 
    color: white;
}

.trash a:hover{
    transition: 300ms;
    color: rgb(240, 55, 55);
}
